.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }
  
  /* .bgImage{
    object-fit: cover;
    transform: rotate(0.5turn);
  } */
  
  .logo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(173, 255, 165);
  }

  .menu-list{
    text-align: center;
    padding: 2px;
  }